html {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   color: #fff;
   background-color: #13131b;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
}

body {
   width: 960px;
   height: 100vh;
   padding: 50px;
}

h1 {
   text-align: center;

   text-transform: uppercase;

   background: -webkit-linear-gradient(top, #a8a4f9, #5641ff);
   -webkit-background-clip: text;

   font-size: 4.2rem;

   -webkit-text-fill-color: transparent;
}

h2 {
   position: relative;
   z-index: 2;
   top: -1.45em;
   text-align: center;

   background-image: -webkit-linear-gradient(left, #5641ff, #ff0ea6);
   -webkit-background-clip: text;

   font-family: 'Alex Brush', cursive;
   font-size: 4rem;

   -webkit-text-fill-color: transparent;
}

.container {
   display: grid;

   height: 100%;

   grid-template-rows: repeat(8, 6em);
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 1.5em;
}

.box {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   border-radius: 10px;
   background: -webkit-linear-gradient(top, #fb5faf, #ff953e);
}

.item1 {
   background: -webkit-linear-gradient(left bottom, #2998e9, #1fddaf, #2998e9);

   grid-row: span 2;
   grid-column: span 3;
}

.item2, .item3 {
   background: -webkit-linear-gradient(left top, #8e35f2, #2998e9, #8e35f2);

   grid-row: span 1;
   grid-column: span 3;
}

.item4 {
   background: -webkit-linear-gradient(left top, #fbf675, #1fddaf, #fbf675);

   grid-column: span 6;
}

.diamond {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   width: 2.8em;
   height: 2.8em;
   margin-right: 5px;
   margin-left: 5px;

   -webkit-transform: rotate(45deg);

   transform: rotate(45deg);
   -webkit-animation: clockwise 10s infinite linear;

   border: 1px #fff solid;
   border-radius: 10px;
   background-color: rgba(#fb5faf, 0);
}

p {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-animation: opposite 10s infinite linear;

   font-size: 0.9em;
}

@-webkit-keyframes clockwise {
   from {
      -webkit-transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(359deg);
   }
}

@-webkit-keyframes opposite {
   from {
      -webkit-transform: rotate(360deg);
   }
   to {
      -webkit-transform: rotate(0deg);
   }
}

@media screen and (max-width: 720px) {
   html {
      font-size: 11px;
   }
   .item1 {
      grid-column: span 6;
   }
   .item2, .item3 {
      grid-column: span 3;
   }
   .item {
      grid-column: span 2;
   }
}

@media screen and (max-width: 520px) {
   body {
      padding: 50px 20px;
   }
   h1 {
      font-size: 32px;
   }
   h2 {
      font-size: 26px;
   }
   .item1 {
      grid-column: span 6;
   }
   .item2, .item3 {
      grid-column: span 3;
   }
   .item {
      grid-column: span 2;
   }
}